body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  color: #40514E;
}

/*text-align berendez mindet, aminek nincs width property-je (gyerekelemnél)*/
/*Ha a body-ban megadunk egy méretet (% vagy em), és utána a származtatott tag-en belül is adunk meg pl a H1-ben, akkor a két érték összeadódik
/*px size-nál nem adja össze, mert az statikus méretmegadásupports
/*a rem méretezés nem örökli a szülő méretet*/

h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 5.625rem; /*  100%=16px=1em -> 90px/16*100=562.5% = 5.625em */
  margin: 0 auto 0 auto;
  padding-top: 5%;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  margin-bottom: 5%;
}

.top-container {
  background-color: #EAF6F6;
  margin-bottom: 5%;
}


.pro {
  text-decoration: underline;
}

.cloud1 {
  position: absolute;
  right: 400px;
  top: 250px;
}

.cloud2 {
  position: absolute;
  top: 450px;
  left:400px;
}

.adam {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.skill-row {
  width: 40%;
  margin: 0 auto 10% auto;
  text-align: left;
  line-height: 2;

}

.skillimages {
  width: 30%;
  float:left;
  margin-right: 30px;
}

.skillimages2 {
  width: 30%;
  float:right;
  margin-left: 30px;
}

.profile-disc {
    margin-bottom: 5%;
}

.hungary {
  margin: 5%;
}

.lastphar {
  margin-bottom: 5%;
}

.btn {
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2%;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  padding: 0 5%;
}

.footer-link:hover{
  color: white;
}

.footer-text{
  padding-top: 10px;
  color: white;
}
